@import './Media/mediaQuery';

.autoCompleteBox {
    position: relative;
    float: left;
    width: 300px;
    height: 20px;
    background: white;
    border: 1px solid $azulClaro;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    border-radius: 5px 5px 5px 5px;
    transform: translate(0%, 15%);
    display: none;

    @include mediumTablet {
        width: 150%;
        transform: translate(0%, -50%);
    }
    
    @include largeLaptop {
        width: 150%;
        transform: translate(0%, -35%);
        margin: -2% 0% 0% 0%;
    }
}

.result {
    position: relative;
    float: left;
    font: {
        size: 12px;
        weight: 700;
    }
    color: $azulEscuro;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    transform: translate(30%, 11%);
    cursor: pointer;

    @include mediumTablet {
        margin: 0% 0% 0% 0%;
        transform: translate(10%, -33%);
    }

    @include largeLaptop {
        margin: 0% 0% 0% 0%;
        transform: translate(20%, -34%);
        font-size: 12px;
    }
}