@import '../Partials/Media/mediaQuery';

$valueDefault: 56px;
$clWhite: #fff;
$bgBlue: $azulClaro;
$flPosition: right;
$mgList: 2% 3% 0 0;

.btn-menu {
    width: $valueDefault;
    height: $valueDefault;
    float: $flPosition;
    text-align: center;
    color: $clWhite;
    border-radius: $valueDefault;
    cursor: pointer;
    background: $bgBlue;
    margin: $mgList;

    @include smallTablet {
        display: none;
    }

    @include smallLaptop {
        display: none;
    }
}

.btn-close {
    font-size: 1.5em;
    color: $clWhite;
    float: $flPosition;
    cursor: pointer;
    margin: $mgList;

    @include smallTablet {
        display: none;
    }

    @include smallLaptop {
        display: none;
    }
}

.btn-cart {
    position: relative;
    z-index: 0;
    float: right;
    cursor: pointer;
    color: $azulEscuro;
    margin: 25px 10% 0 0;
    
    @include mediumTablet {
        margin: 20px -18% 0 0;
    }

    @include largeLaptop {
        margin: 20px 0% 0 0;
    }
}

