@import './Media/mediaQuery';

$EsqName:  31% 0% 0% -31%;
$EsqPrice: 37% 0% 0% -31%;
$EsqDeal:  40% 0% 0% -31%;



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  float: left;
  margin: auto;
  margin-top: 20%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  color: $azulClaro;
  font-weight: bold;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  cursor: pointer;
  position: relative;
  float: left;
  margin: -25% 0% 0% 97%;
  right: 0;
  border-radius: 100%;

  @include mediumTablet{
    margin: -25% 0% 0% 100%;
  }

  @include largeLaptop {
    margin: -14% 0% 0% 98%
  }
}


/* Position the "prev button" to the left */
.prev {
  cursor: pointer;
  position: relative;
  float: left;
  margin: 5% 0% 0% -110% ;
  right: 0;
  border-radius: 100%;

  @include mediumTablet {
    margin:-25% 0% 0% -2%;
  }

  @include largeLaptop {
    margin: 10% 0% 0% -95%;
  }
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 162, 255, 0.788);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  float: left;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 10% -33% 10% 36%;
  background-color: $azulClaro;
  border-radius: 50%;
  transition: background-color 0.6s ease;

  @include smallTablet{
    height: 13px;
    width: 13px;
    margin: 10% -44% 10% 47%
  }
}

.active, .dot:hover {
  border: 5px solid $azulEscuro;
  border-width: 2px;
  background-color: $azulClaro;
  
  @include smallTablet {
    border-width: 3px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Items Carroussel*/
/*1*/
.item {
  position: relative;
  float: left;
  width: 31%;
  margin: 0% 0% 0% 0%;
  cursor: pointer;

  @include mediumTablet {
    width: 23%;
    margin: 0% 0% 0% 8%;
  }
}

.itemName{
  position: relative;
  float: left;
  font-size: 7px;
  margin: $EsqName;
  color: $cinza;

  @include mediumTablet {
    font-size: 12px;
    margin: 26% 0% 0% -22%;
  }

  @include largeLaptop {
    font-size: 15px;
    margin: 24% 0% 0% -23%;
  }
}

.itemPrice{
  position: relative;
  float: left;
  margin: $EsqPrice;
  font-size: 8px;
  color: $cinza;

  @include mediumTablet {
    font-size: 11px;
    margin: 32% 0% 0% -24%;
  }

  @include largeLaptop {
    font-size: 11px;
    margin: 29% 0% 0% -23%;
  }
}

.itemDeal{
  position: relative;
  float: left;
  margin: $EsqDeal;
  font: {
    size: 8px;
    weight: 700;
  }
  color: $azulClaro;

  @include mediumTablet {
    font-size: 14px;
    margin: 35% 0% 0% -24%;
    font-weight: 700;
  }

  @include largeLaptop {
    font-size: 16px;
    margin: 31% 0% 0% -23%;
    font-weight: 700;
  }
}

.h1Quemviu {
  position: relative;
  float: left;
  color: $azulEscuro;
  font-size: 19px;
  margin: -45% 0% 7% 0%;

  @include mediumTablet {
    font-size: 24px;
    margin: -40% 0% 7% 0%;
    transform: translate(0%, 0%);
  }

  @include largeLaptop {
    font-size: 27px;
    margin: -33% 15% 7% 35%;
  }
}
