@import './Media/mediaQuery';

.contador {
    position: relative;
    float: left;
    background: $azulClaro;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    margin: -7% 0% 0% 51%;
    transform:  translate(0%, 0%);

    @include mediumTablet {
        margin: -7.5% 0% 0% 117%;
    }

    @include largeLaptop {
        margin: -5% 0% 0% 99.5%;
    }
}

.numero {
    position: relative;
    float: left;
    color: white;
    font: {
        size: 9px;
        weight: bold;
    }
    text-align: center;
    margin: 0% 30%;
}