@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './Media/mediaQuery';

/*Normalizando o Site*/

$bgWhite: #fff;
$nulo: none;
$totalSpace: 100%;
$zero: 0;
$paddingDefault: 3% 4%;

body {
    background: $bgWhite;
}

a {
    text-decoration: $nulo;
}

ul {
    list-style: $nulo;
}

img {
    max-width: $totalSpace;
}

header {
    margin: 1% 15%;
}

main {
    margin: 1% 15%;
}

.containter {
    width: $totalSpace;
    float: left;
    padding: $paddingDefault;
    text-align: center;
}

hr {
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
    height: 10px;
    margin-bottom: 6%;

    @include smallTablet {
        margin-bottom: 3%;
        width: 100%;
    }
}