@import './Media/mediaQuery';

/*Descrição do produto*/

.h1Alinhamento {
    position: relative;
    float: left;
    color: $azulEscuro;
    font-size: 19px;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-right: 40%;
    
    @include smallTablet {
        float: left;
        font-size: 24px;
        margin-left: 2%;
        text-align: center; 
    }
    @include mediumTablet {
        float: left;
        font-size: 24px;
        margin-left: 0%;
        text-align: center; 
    }

    @include largeLaptop {
        font-size: 27px;
        margin: 5% 0% 0% 35%;
        margin-bottom: 3%;
    }
}

.pAlinhamento {
    position: relative;
    float: left;
    font-size: 14px;
    color: $cinza;
    text-align: justify;
    
    @include smallTablet {
        font-size: 16px;
        text-align: justify;
    }
}
