@import '../Partials/Media/mediaQuery';

/*Footer*/

$pValue: relative;

.rodape {
    position: $pValue;
    float: left;
    background: $azulClaro;
    width: 100%;
    height: 50%;
    bottom: 0;
    
}

.rodapeInfo{
    position: relative;
    float: left;
    color: white;
    text-align: center;
    font-size: 10px;
    margin: 2.5% 0% 3% 3%;

    @include mediumTablet {
        font-size: 12px;
        margin: 2.5% 0% 0% 1%;
    }

    @include largeLaptop {
        margin: 2.5% 0% 1% 3%;
        font-size: 16px;
        margin: 2% 0% 2% 1%;
    }
}

.retanguloAzulEscuro {
    position: relative;
    float: left;
    background-color: $azulEscuro;
    width: 30%;
    height: 100%;
    bottom: 0;
    margin: 0% 0% % 0%;
    
    @include mediumTablet {
        margin: 0% 0% 0% 0%;
    }

    @include largeLaptop {
        margin: 0% 0% 0% 0%;
    }
}
