@import '../Partials/Media/mediaQuery';

$valueDefault: 60px;
$imgLogo: 'LOGO.png';
$imgLogoRodape: 'logoRodape.png';
$path: '../img/';

.logoN1 {
    width: $valueDefault;
    height: $valueDefault;
    font-size: 0;
    float: left;

    @include largeSmartphone {
        width: 70px;
    }

    @include smallTablet {
        width: 90px;
    }

    @include smallLaptop {
        width: 120px;
    }
    
}

.logoNav {
    float: left;
    background: url( $path + $imgLogo ) center center/$valueDefault no-repeat;

    @include largeSmartphone {
        background:  url($path + $imgLogo) center center/70px no-repeat;
    }
    
    @include smallTablet {
        background:  url($path + $imgLogo) center center/90px no-repeat;
    }

    @include smallLaptop {
        background:  url($path + $imgLogo) center center/120px no-repeat;
    }
}

.logoRodape {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin: 4% 0% 4% 70%;
    font-size: 0;
    background: url($path + $imgLogoRodape) center center/30px no-repeat;

    @include mediumTablet {
        width: 45px;
        height: 45px;
        margin: 4% 0% 3% 80%;
        background: url($path + $imgLogoRodape) center center/45px no-repeat;
    }

    @include largeLaptop {
        width: 60px;
        height: 60px;
        margin: 2% 0% 2% 80%;
        background: url($path + $imgLogoRodape) center center/60px no-repeat;
    }
}