@import '../Partials/Media/mediaQuery';

/*Menu*/

$totalSpace: 100%;
$valueDefault: 56px;

.menu {
    display: none;
    width: $totalSpace;
    height: $totalSpace;
    position: fixed;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.9);
    top: 0;
    left: 0;
    @include smallTablet {    
        width: auto;
        height: $valueDefault;
        line-height: $valueDefault;
        float: left;
        background-color: #fff;
        display: block !important;
        position: relative;
        
    }
    
    ul {
        width: $totalSpace;
        float: left;
        text-align: center;
    }
    
    li {
        padding: 1.5%;
        
        @include smallTablet {
            padding: 0;
            float: left;
        }
    }
    
    li a {
        font-size: 2em;
        color: #fff;
        padding: 1.5% 3%;
        
        @include smallTablet {
            color: #A1A1A1;
            font-size: 1em;
            padding: 15px;
        }
        
        &:hover {
            border: 1px solid $azulClaro;
            
            @include smallTablet {
                border: none;
                color: $azulClaro;
            }
        }
        
        &:active {
            @include smallTablet {
                text-decoration: underline;
                color: $azulClaro;
            }
        }
    }
}

input[type=text]{
    width: 300px;
    border: 1px solid #E1E1E1;
    border-radius:4px;
    outline:none;
    padding: 2px;
    box-sizing:border-box;
    transition:.3s;
}

input[type=text]:focus{
    border-color:$azulClaro;
    box-shadow:0 0 8px 0 $azulClaro;
}

.inputWithIcon input[type=text]{
    padding-left: 33px;
}

.inputWithIcon{
    position: relative;
    float: left;
    margin: 20px 0 0 50% ;
    transform: translate(-50%);
}

.inputWithIcon i{
    position:absolute;
    left:0;
    top: -5px;
    padding:9px 8px;
    color:#E1E1E1;
    transition:.3s;
}

.inputWithIcon input[type=text]:focus + i{
    color:$azulClaro;
}

.inputWithIcon.inputIconBg i{
    background-color:#E1E1E1;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
}

@include mediumTablet {    
    input[type=text]{
        width:150%;
        border: 1px solid #E1E1E1;
        border-radius:4px;
        outline:none;
        padding: 5px;
        box-sizing:border-box;
        transition:.3s;
    }
    
    input[type=text]:focus{
        border-color:$azulClaro;
        box-shadow:0 0 8px 0 $azulClaro;
    }
    
    .inputWithIcon input[type=text]{
        padding-left: 35px;
    }
    /*Aqui eu movimento o input e o icone juntos*/
    .inputWithIcon{
        position:relative;
        float: left;
        margin: -54px 0 0 65%;
        transform: translate(0%);
        transform: translate(-10%, 0%);        
    }
    
    .inputWithIcon i{
        position:absolute;
        left:0;
        top:10px;
        padding:9px 8px;
        color:#E1E1E1;
        transition:.3s;
        transform: translate(0%);
    }
    
    .inputWithIcon input[type=text]:focus + i{
        color:$azulClaro;
    }
    
    .inputWithIcon.inputIconBg i{
        background-color:#E1E1E1;
        color:#fff;
        padding:9px 4px;
        border-radius:4px 0 0 4px;
    }
}

@include largeLaptop {    
    input[type=text]{
        width:150%;
        border: 1px solid #E1E1E1;
        border-radius:4px;
        outline:none;
        padding: 5px;
        box-sizing:border-box;
        transition:.3s;
    }
    
    input[type=text]:focus{
        border-color:$azulClaro;
        box-shadow:0 0 8px 0 $azulClaro;
    }
    
    .inputWithIcon input[type=text]{
        padding-left: 35px;
    }
    /*Aqui eu movimento o input e o icone juntos*/
    .inputWithIcon{
        position:relative;
        float: left;
        margin: -54px 0 0 65%;
        transform: translate(0%);
        transform: translate(-10%, 0%);        
    }
    
    .inputWithIcon i{
        position:absolute;
        left:0;
        top:10px;
        padding:9px 8px;
        color:#E1E1E1;
        transition:.3s;
        transform: translate(0%);
    }
    
    .inputWithIcon input[type=text]:focus + i{
        color:$azulClaro;
    }
    
    .inputWithIcon.inputIconBg i{
        background-color:#E1E1E1;
        color:#fff;
        padding:9px 4px;
        border-radius:4px 0 0 4px;
    }
}