@import './Media/mediaQuery';

.modal {
  display: none;
  width: $totalSpace;
  height: $totalSpace;
  position: fixed;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0.9);
  top: 0;
  left: 0;
}

.quadradoBranco{
  position: relative;
  float: left;
  width: 200px;
  height: 220px;
  margin: 0% 0% 0% 0%;
  background: white;
  margin: 25% 30%;
  border-radius: 2px;

  @include smallTablet {
    margin: 15% 45%;
  }
}

.circleSucess{
  position: relative;
  float: left;
  width: $valueDefault;
  height: $valueDefault;
  font-size: 40px;
  background: $verde;
  color: white;
  border-radius: 100%;
  text-align: center;
  padding: 3%;
  margin: 10% 36%;
}

.btn-closeModal{
  position: relative;
  float: left;
  color: white;  
  font: {
    size: 9px;
    weight: 700;
  }
  cursor: pointer;
  margin: 10% 39%;
  text-align: center;
  background-color: $azulEscuro;
  border-radius: 2px;
  padding: 2% 8%;

}

.msgCart {
  color: $azulClaro;
  text-align: center;
  margin: 40% 0% 0% 0% ;
  font: {
    size: 18px;
    weight: 700;
  }
  padding: 0% 10%;
}