@import '../Partials/Media/mediaQuery';


.thumbMain {
    position: relative;
    float: left;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin: 0% 1%;

    @include mediumTablet {
        max-width: 50px;
        max-height: 50px;
        width: auto;
        height: auto;
    }
}

.imgMain {
    position: relative;
    float: left;
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;

    @include mediumTablet {
        max-width: 250px;
        max-height: 250px;
        width: auto;
        height: auto;
    }
}

.txtMain {
    position: relative;
    float: center;
    font: {
        size: 11px;
        weight: 700;
    } 
    text-align: left;
    transform: translate( 2%, -20%);
    color: $cinza;

    @include mediumTablet {
        transform: translate( 1.5%, -20%);
        font-size: 19px;
    }    
}

.priceMain {
    position: relative;
    float: left;
    font-size: 8px;
    color: $cinza;
    transform: translate(20%, -5%);

    @include mediumTablet {
        font-size: 10px;
        transform: translate(18%, 0%);
    }

    @include largeLaptop {
        font-size: 14px;
        transform: translate(24%, 15%);
    }
}

.offerMain {
    font: {
        size: 8px;
        weight: bold;
    } 
    transform: translate(5%, -70%);
    color: $cinza;

    @include mediumTablet {
        font-size: 10px;
        transform: translate(4%, -25%);
    }

    @include largeLaptop {
        font-size: 20px;
        transform: translate(3%, 0%);
    }
}

span {
    color: $azulClaro;
    font: {
        size: 12px;
        weight: 700;
    }
    text-transform: uppercase;

    @include mediumTablet {
        font-size: 12px;
        weight: 700;
    }

    @include largeLaptop {
        font-size: 24px;
        weight: 700;
    }
}

.fundoCinza {
    position: relative;
    float: left;
    width: 50%;
    height: 60px;
    background-color: #F8F8F8;
    transform: translate(0%, 0%);

    @include mediumTablet {
        width: 48%;
        height: 80px;
    }

    @include largeLaptop {
        width: 66%;
        height: 110px;
    }
}

.btnCompraAe {
    position: relative;
    float: left;
    transform: translate(12%, -120%);
    background-color: $verde;
    border-radius: 2px;
    font: {
        size: 10px;
        weight: 700;
    }
    color: white;
    padding: 2%;
    text-transform: uppercase;
    cursor: pointer;
    
    @include mediumTablet {
        font-size: 10px;
        transform: translate(10%, -122%);
    }

    @include largeLaptop{
        font: {
            size: 12px;
            weight: 700;
        }
        padding: 1.5% 4%;
        transform: translate(10%, -115%);       
    }
}

.caixaCepAzul {
    position: relative;
    float: left;
    transform: translate(5%, -66%);
    width: 48.5%;
    background-color: $azulClaro;
    border-radius: 2px;
    font: {
        size: 10px;
        weight: 700;
    }
    color: white;
    padding: 1%;
    text-transform: uppercase;
    cursor: pointer; 
    
    p {
        font: {
            size: 7px;
            weight: 700
        }
        margin: 0 0 2% 6%;
        padding: 2% 0%;
        transform: translate(2%, 4%);
        color: white;
        text-transform: uppercase;

        @include mediumTablet {
            font-size: 12px;
            transform: translate(1%, 3%);
        }

        @include largeLaptop {
            font-size: 14px;
        }
    }

    @include mediumTablet {
        width: 47%;
        transform: translate(3%, -39%);
    }

    @include largeLaptop {
        width: 64.5%;
        transform: translate(2.5%, -30%);        
    }
}

.input1 {
    position: relative;
    float: left;
    max-width: 35%;
    max-height: 10%;
    width: auto;
    height: auto;
    margin: 0% 3% 0 7%;
    font-size: 8px;

    @include largeLaptop {
        max-width: 35%;
        max-height: 20%;
        width: auto;
        height: auto;
        font-size: 14px;
    }
}

.input2 {
    position: relative;
    max-width: 20%;
    max-height: 10%;
    width: auto;
    height: auto;
    float: left;
    font-size: 8px;

    @include largeLaptop {
        max-width: 20%;
        max-height: 10%;
        width: auto;
        height: auto;
        font-size: 14px;
    }
}

.btnCalcularCep {
    position: relative;
    float: left;
    font-size: 7px;
    padding: 3% 4%;
    margin: 0% 0% 0% 2%;
    border-radius: 4px;
    background-color: $azulEscuro;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    
    @include mediumTablet {
        font-size: 11px;
        padding: 2% 7%;
    }

    @include largeLaptop {
        padding: 1.2% 4%;
        font-size: 12px;
    }
}