@import './Media/mediaQuery';

/*Compre Junto*/

.h1AlinhamentoCompreJunto {
    position: relative;
    float: left;
    color: $azulEscuro;
    font-size: 19px;
    margin: 7% 0%;

    @include mediumTablet {
        font-size: 24px;
        transform: translate(0%, 0%);
        margin: 5% 0% 7% 0%;
    }

    @include largeLaptop {
        font-size: 27px;
        transform: translate(0%, 0%);
        margin: 5% 0% 7% 40%;
    }
}

/*Classes referente ao item Um*/

.imgUmPromoLeveDois {
    position: relative;
    float: left;
    width: 20%;
    margin: 0 100% 0 0;
    text-overflow: ellipsis;

    @include mediumTablet{

    }

    @include largeLaptop{

    }
}

.h1NameOnePromoLeveDois {
    position: relative;
    float: left;
    font-size: 8px;
    color: $cinza;
    text-align: left;
    margin: 2% 0% 0% 0%;

    @include mediumTablet {
        font-size: 10px;
        margin: 1% 0% 0% 0%;
    }

    @include largeLaptop{
        font-size: 16px;
        margin: 1% 0% 0% 0%;
    }
}

.priceMainOnePromoLeveDois {
    position: relative;
    float: left;
    font-size: 8px;
    margin: 9% 0% 0% -29%;
    color: $cinza;

    @include mediumTablet {
        margin: 5% 0% 0% -20%;
        font-size: 12px;
    }

    @include largeLaptop {
        margin: 6% 0% 0% -21%;
        font-size: 15px;
    }
}

.offerMainOnePromoLeveDois{
    position: relative;
    float: left;
    font: {
        size: 9px;
        weight: 700;
    }
    color: $azulClaro;
    margin: 12% 10% 0% -29%;

    @include mediumTablet{
        font: {
            size: 18px;
            weight: 700;
        }
        margin: 8% 0% 0% -20%;
    }

    @include largeLaptop {
        margin: 8% 0% 0% -21%;
        font-size: 19px;
    } 
}

.plusSign {
    position: relative;
    float: left;
    color: $azulEscuro;
    margin: -12% 0% 0% -7%;

    @include mediumTablet {
        margin: -12% 0% 0% 4%;
    }

    @include largeLaptop {
        margin: -12% 0% 0% 3%;
    }
}
/*Classes referente ao item Um*/

.h1NameTwoPromoLeveDois {
    position: relative;
    float: left;
    font-size: 8px;
    color: $cinza;
    text-align: left;
    margin: 2% 0% 0% 3%;

    @include mediumTablet {
        font-size: 10px;
        margin: 1% 0% 0% 10%;
    }

    @include largeLaptop{
        font-size: 16px;
        margin: 1% 0% 0% 10%;
    }
    
}

.imgDoisPromoLeveDois {
    position: relative;
    float: left;
    width: 20%;
    margin: -20% 0px 0% 2%;

    @include mediumTablet {
        margin: -20% 0px 0% 10%;
    }

    @include largeLaptop {
        margin: -20% 0px 0% 10%;
    }
}

.priceMainTwoPromoLeveDois {
    position: relative;
    float: left;
    font-size: 8px;
    color: $cinza;
    margin: 1% 0% 0% 33%;

    @include mediumTablet {
        margin: 5% 0% 0% -20%;
        font-size: 12px;
    }

    @include largeLaptop {
        margin: 6% 0% 0% -21%;
        font-size: 15px;
    }
}

.offerMainTwoPromoLeveDois{
    position: relative;
    float: left;
    font: {
        size: 9px;
        weight: 700;
    }
    color: $azulClaro;
    margin: 4% 10% 0% -14%;

    @include mediumTablet{
        font: {
            size: 18px;
            weight: 700;
        }
        margin: 8% 0% 0% -20%;
    }

    @include largeLaptop{
        margin: 8% 0% 0% -21%;
        font-size: 19px;
    }
}

.equalsSign {
    position: relative;
    float: left;
    color: $azulClaro;
    margin: -27% 0% 0% 55%;

    @include mediumTablet {
        margin: -16% 0% 0% 55%;
    }

    @include largeLaptop {
        margin: -12% 0% 0% 2%;
    }
}

.box1Azul {
    position: relative;
    float: left;
    background-color: $azulClaro;
    width: 40%;
    height: 140px;
    padding: 0% 0% 0% 0%;
    border-radius: 4px;
    margin: -40% 0% 0% 70%;
    color: white;
    padding: 1%;

    @include mediumTablet {
        height: 200px;
        margin: -25% 0% 0% 63%;
    }

    @include largeLaptop {
        height: 300px;
        margin: -25% 0% 0% 60%;
    }


}

.box2Amarelo {
    position: relative;
    float: left;
    background-color: yellow;
    width: 90%;
    height: 20px;
    padding: 2%;
    margin: 0% 0% 0% 2.5%;
    border-radius: 4px;
    transform: translate(3%, 50%);

    @include mediumTablet {
        height: 40px;
        transform: translate(3%, 50%);
        margin: -5% 0% 0% 2.5%;
    }

    @include largeLaptop {
        height: 40px;
        transform: translate(3%, 50%);
        margin: 3% 0% 0% 2.5%;
    }
}

.btnCompraAeLeveDois {
    position: relative;
    float: left;
    background-color: $verde;
    border-radius: 5px;
    box-shadow: 0 2px 0px  green;
    font: {
        size: 12px;
        weight: 700;
    }
    color: white;
    padding: 4%;
    margin: 15% 10%;
    transform: translate(3%, 25%);
    text-transform: uppercase;
    cursor: pointer;
    
    @include mediumTablet {
        font-size: 16px;
        transform: translate(0%, 30%);
        margin: 5% 0% 0% 17%;
        padding: 7% 9%;
        box-shadow: 0 3px 0px  green;
    }

    @include largeLaptop {
        font-size: 22px;
        transform: translate(3%, 30%);
        margin: 10% 17%;
        padding: 7% 9%;
        box-shadow: 0 3px 0px  green;
    }

}

.infoValue {
    position: relative;
    float: left;
    color: white;
    font-size: 7px;
    margin: 5% 0% 0% 4%;
    font-size: 7px;

    @include mediumTablet {
        font-size: 12px;
    }

    @include largeLaptop {
        font-size: 14px;
    }
}

.infoValue2 {
    position: relative;
    float: left;
    color: white;
    font-size: 14px;
    margin: 0% 0% 0% 4%;

    @include mediumTablet {
        font-size: 23px;
        margin: 7% 0% 0% -42%;
    }

    @include largeLaptop {
        font-size: 26px;    
        margin: 7% 0% 0% -33%;
    }
}

.infoValue3 {
    position: relative;
    float: left;
    color: black;
    font-size: 8px;
    padding: 0%;
    margin: 0% 2%;
    padding: 1%;

    @include mediumSmartphone {
        font-size: 10px;
    }

    @include mediumTablet {
        font-size: 14px;
        margin: 0% 0% 0% 10%;
    }

    @include largeLaptop {
        font-size: 18px;
        margin: 0% 0% 0% 15%;
    }
}