$smallSmartphone-width: 500px;
$mediumSmartphone-width: 600px;
$largeSmartphone-width: 700px;

$smallTablet-width: 800px;
$mediumTablet-width: 900px;
$largeTalblet-width: 1000px;


$smallLaptop-width: 1100px;
$mediumLaptop-width: 1200px;
$largeLaptop-width: 1300px;


@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

/*SMARTPHONE MIXINS*/
@mixin smallSmartphone {
    @media (min-width: #{$smallSmartphone-width}) {
        @content;
    }
}

@mixin mediumSmartphone {
    @media (min-width: #{$mediumSmartphone-width}) {
        @content;
    }
}

@mixin largeSmartphone {
    @media (min-width: #{$largeSmartphone-width}) {
        @content;
    }
}

/*TABLET MIXINS*/
@mixin smallTablet {
    @media (min-width: #{$smallTablet-width}) {
        @content;
    }
}

@mixin mediumTablet {
    @media (min-width: #{$mediumTablet-width}) {
        @content;
    }
}

@mixin largeTablet {
    @media (min-width: #{$largeTablet-width}) {
        @content;
    }
}

/*LAPTOP MIXINS*/
@mixin smallLaptop {
    @media (min-width: #{$smallLaptop-width}) {
        @content;
    }
}

@mixin mediumLaptop {
    @media (min-width: #{$mediumLaptop-width}) {
        @content;
    }
}

@mixin largeLaptop {
    @media (min-width: #{$largeLaptop-width}) {
        @content;
    }
}


//Cores usadas
$azulEscuro: #0F4156;
$cinza: #A1A1A1;
$azulClaro: #4ec2dd;
$verde: #71CE4B;
